.App {
  text-align: center;
}
.logo {
  width: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  max-width: 1500px;
}



.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-links {
  display: flex;
}
.footerbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  
}
.footer-links {
  display: flex;
  margin-right: 50px;
  
}
.footer-links a {
  color: black;
}
.verse {
  width: 500px;
  margin-left: 50px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}


li a {
  display: block;
  color: rgb(230, 233, 54);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
